---
import Layout from "../layouts/Layout.astro";
import variables from 'astro:variables';

console.log('server', variables(), variables.hello, variables.count);
---

<Layout title="Welcome to Astro.">
	<main>
		{JSON.stringify(variables())}
	</main>
	<script>
		import variables from "astro:variables";
		console.log('client', variables(), variables.hello, variables.count);
	</script>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
